if isProduction
    script(src="#{assetBasePath}js/vendor/vendors_v=#{assetsVersion}.js")
    script(src="#{assetBasePath}js/main.min_v=#{assetsVersion}.js")
else
    script(src="#{assetBasePath}js/vendor/vendors_v=#{assetsVersion}.js")
    script(src="#{assetBasePath}js/main_v=#{assetsVersion}.js")
!= "</body>"